<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO Image Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YOLOv8 Vehicle Object Detection</h1>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Upload and Detect</button>
            <h2> Please select a photo that you would like to upload!</h2>
        </form>

        

        {% if image_path %}
        <div class="image-container">
            <img src="{{ image_path }}" alt="Processed Image">
            <div class="accuracy">
                <h3>Confidence Scores:</h3>
                <ul>
                    {% for accuracy in accuracies %}
                    <li>{{ accuracy }}%</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>